body{
  overflow-x: hidden;
  padding: 0 30px;
}

.form_area{
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  & > form{
    width: 100%;
    max-width: 500px;
    min-height: 500px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    padding: 80px 50px;
    margin: 60px 0;
    box-shadow: 0px 6px 10px 10px rgb(221 221 221);
  }
}

.form_title{
  font-size: 40px;
  font-weight: 900;
  color: var(--key-color);
  text-align: center;
  margin-bottom: 45px;
}

.form_group{
  & > div{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    border: 2px solid #ddd;
    border-radius: 8px;
  }

  & > div.form_check{
    border: none;
    padding: 0;
    height: auto;
  }

  & i{
    width: 45px;
    height: 100%;
    position: relative;
    &::before{
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      color: var(--key-color);
    }
  }

  & small{
    display: none;
  }

  & + .form_group{
    margin-top: 25px;
  }
}

.form_group.link_list{
  display: flex;
  & li{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    & a{
      width: 100%;
      text-align: center;
      font-size: 15px;
      font-weight: 500;
      color: var(--text-color01);
    }
    &::after{
      content: "";
      position: absolute;
      width: 1px;
      height: 85%;
      top: 50%;
      right: 0;
      background-color: var(--text-color01);
      transform: translateY(-50%);
    }
    &:last-of-type::after{
      display: none;
    }
  }
}

.btn{
  background-color: var(--key-color);
}

// 반응형
@media screen and (max-width: 768px){
  body{
    padding: 0 20px;
  }

  .form_area{
    & > form{
      padding: 40px 20px;
    }
  }

  .form_title{
    font-size: 30px;
  }

  .form_group.link_list{
    gap: 20px;
    & li{
      & a{
        font-size: 14px;
      }
      &::after{
        right: -10%;
      }
    }
  }
}